
.cssusername{
    width:250px;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 30%;
}
    /* margin-top:290px; */



.csspass{
    width:250px;
    margin:auto;
    position:absolute;
    top:36%;
    left:30%;
}
.login-form-button{
    
    margin: auto;
    position: absolute;
    top: 1100%;
    left: 34%;

}
/* .remember{
    margin-left:630px;
    position:absolute;
    top:41%;
    left:-2%;
} */
.box{

    margin: 0px;
    background-image: url('back1.JPG');
    background-size: 100%100%;
    background-attachment: fixed;
    background-position: center 0;
    min-height: 100vh;
    background-size: cover;
    
}